@font-face {
  font-family: 'icomoon';
  src: url('../../public/static/fonts/icomoon/icomoon.eot?nx9v8h');
  src:
    url('../../public/static/fonts/icomoon/icomoon.eot?nx9v8h#iefix')
      format('embedded-opentype'),
    url('../../public/static/fonts/icomoon/icomoon.ttf?nx9v8h')
      format('truetype'),
    url('../../public/static/fonts/icomoon/icomoon.woff?nx9v8h') format('woff'),
    url('../../public/static/fonts/icomoon/icomoon.svg?nx9v8h#icomoon')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: '\e900';
}

.icon-circle_right:before {
  content: '\e901';
}

.icon-circle_left:before {
  content: '\e902';
}

.icon-circle_success_2 .path1:before {
  content: '\e903';
  color: rgb(21, 190, 121);
}

.icon-circle_success_2 .path2:before {
  content: '\e904';
  margin-left: -1em;
  color: rgb(21, 190, 121);
}

.icon-circle_success_2 .path3:before {
  content: '\e905';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-dots:before {
  content: '\e906';
}

.icon-checkbox_fill .path1:before {
  content: '\e907';
  color: rgb(255, 255, 255);
}

.icon-checkbox_fill .path2:before {
  content: '\e908';
  margin-left: -1em;
  color: rgb(252, 129, 24);
}

.icon-checkbox_fill .path3:before {
  content: '\e909';
  margin-left: -1em;
  color: rgb(252, 129, 24);
}

.icon-checkbox_fill .path4:before {
  content: '\e90a';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-checkbox:before {
  content: '\e90b';
}

.icon-filter:before {
  content: '\e90c';
}

.icon-success:before {
  content: '\e90d';
}

.icon-user_3:before {
  content: '\e90e';
}

.icon-warning:before {
  content: '\e90f';
}

.icon-user:before {
  content: '\e910';
}

.icon-user_2:before {
  content: '\e911';
}

.icon-time:before {
  content: '\e912';
}

.icon-pin:before {
  content: '\e913';
}

.icon-payment:before {
  content: '\e914';
}

.icon-linkdin:before {
  content: '\e915';
}

.icon-instagram:before {
  content: '\e916';
}

.icon-info:before {
  content: '\e917';
}

.icon-hamburger:before {
  content: '\e918';
}

.icon-error:before {
  content: '\e919';
}

.icon-envelope:before {
  content: '\e91a';
}

.icon-envelope_2:before {
  content: '\e91b';
}

.icon-eject:before {
  content: '\e91c';
}

.icon-door:before {
  content: '\e91d';
}

.icon-description:before {
  content: '\e91e';
}

.icon-close:before {
  content: '\e91f';
}

.icon-arrow_left:before {
  content: '\e920';
}

.icon-arrow_right:before {
  content: '\e921';
}

.icon-arrow_top:before {
  content: '\e922';
}

.icon-arrow_bottom:before {
  content: '\e923';
}

.icon-circle_plust_fill:before {
  content: '\e924';
}

.icon-circle_minus:before {
  content: '\e925';
}

.icon-circle_minus_fill:before {
  content: '\e926';
}

.icon-circle_close:before {
  content: '\e927';
}

.icon-calendar:before {
  content: '\e928';
}

.icon-arrow_right_2:before {
  content: '\e929';
}

.icon-arrow_left_2:before {
  content: '\e92a';
}

.icon-aparat:before {
  content: '\e92b';
}
